<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>主机维护</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.css">
    <script src="../vue/vue.js"></script>
    <script src="../vue/vue-resource.js"></script>
</head>
<body>
<div class="container" id="app">
    <div>
        <span>Search:</span>
        <input name="query">
        <button class="btn" style="float: right;margin-right: 89px;" v-on:click="saveHostPort">保存</button>
        <button class="btn" style="float: right;margin-right: 5px;" v-on:click="newHostPort">新增</button>

    </div>
    <div class="alert" style="margin-top: 10px;margin-bottom: 0px">
        {{ saveStatus }}
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>主机信息</th>
                <th>主机描述</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in hostPorts">
                <td>
                    <input type="text" v-model="hostPorts[index].host_port">
                </td>
                <td>
                    <input type="text" v-model="hostPorts[index].description">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            hostPorts: [],
            saveStatus: ""
        },
        methods: {
            newHostPort: function () {
                console.log("新增主机信息");
                this.hostPorts.push({host_port: "", description: ''});
            },
            allHostPorts: function () {
                this.$nextTick(function () {
                    this.$http.get('/maintain/getHostPort').then(function (res) {
                        console.log(res.data.length === 0)
                        if (res.data.length === 0) {
                            console.log("返回数据为空");
                            this.hostPorts = [{host_port: '127.0.0.1:80', description: '本机'}]
                            this.saveStatus = "获取0个主机信息，新增默认主机信息"
                        } else {
                            console.log("返回数据非空");
                            for (result in res.data) {
                                console.log(res.data[result].fields);
                                hostPort = res.data[result].fields;
                                hostPort.id = res.data[result].pk;
                                this.hostPorts.push(res.data[result].fields)
                            }
                            this.saveStatus = "获取" + (parseInt(result) + 1) + "个主机信息"
                            console.log(res.data);
                        }
                    })
                })
            },
            saveHostPort: function () {
                this.$nextTick(function () {
                    console.log(this.hostPorts);
                    this.$http.post('/maintain/saveHostPort', this.hostPorts).then(function (res) {
                        console.log(res);
                        this.saveStatus = "保存主机信息正常！"
                    })
                })
            }
        }
    });
    app.allHostPorts()
</script>
</html>