<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报告</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.css">
    <script src="../vue/vue.js"></script>
    <script src="../vue/vue-resource.js"></script>
    <style>
        .th-width {
            width: 16%
        }

        .show-input {
            background: none;
            outline: none;
            border: 0px;
            margin-left: 2px;
            margin-right: 2px;
            width: 100%;
        }

        .success {
            background-color: #00d500;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div>
        <span>Search:</span>
        <select style="width: inherit;margin-bottom: 0px" v-model="searchHostPort">
            <option value=0></option>
            <option v-for="host_port in host_ports" v-bind:value="host_port.id">
                {{ host_port.host_port }}:{{ host_port.description }}
            </option>
        </select>
        <select style="width: inherit;margin-bottom: 0px" v-model="searchVersion">
            <option value=0></option>
            <option v-for="version in versions" v-bind:value="version.id">
                {{ version.name }}:{{ version.detail }}
            </option>
        </select>
        <select style="width: inherit;margin-bottom: 0px" v-model="execute">
            <option value=0></option>
            <option v-for="execute in executes" v-bind:value="execute.execute">
                {{ execute.execute }}
            </option>
        </select>
        <button class="btn" style="margin-right: 5px;" v-on:click="searchResult">查询</button>
        <button class="btn" style="float: right;margin-right: 89px;" v-on:click="exportResult">导出</button>
    </div>
    <div class="alert" style="margin-top: 10px;margin-bottom: 0px">
        {{ saveStatus }}执行成功率： {{ rate }} %
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="th-width">执行信息</th>
                <th class="th-width">用例名称</th>
                <th class="th-width">预期结果</th>
                <th class="th-width">实际结果</th>
                <th class="th-width">执行时间</th>
                <th class="th-width">执行耗时</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in results">
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].execute">
                </td>
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].case_name">
                </td>
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].expect_result">
                </td>
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].real_result">
                </td>
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].execute_data">
                </td>
                <td>
                    <input class="show-input" readonly="readonly" onMouseOver="this.title=this.value"
                           v-model="results[index].execute_time">
                </td>
                <td>
                    <span class="label" v-bind:class="{success: results[index].test_result}">
                        {{ results[index].test_result }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            results: [],
            saveStatus: "测试报告界面",
            versions: [],
            host_ports: [],
            searchHostPort: 0,
            searchVersion: 0,
            executes: [],
            execute: 0,
            rate: 0
        },
        methods: {
            exportResult: function () {

            },
            initVersion: function () {
                this.$nextTick(function () {
                    this.$http.get('/maintain/getVersion').then(function (res) {
                        for (result in res.data) {
                            console.log(res.data[result].fields);
                            version = res.data[result].fields;
                            version.id = res.data[result].pk;
                            this.versions.push(res.data[result].fields)
                        }
                    })
                })
            },
            initHostPort: function () {
                this.$nextTick(function () {
                    this.$http.get('/maintain/getHostPort').then(function (res) {
                        for (result in res.data) {
                            console.log(res.data[result].fields);
                            host_port = res.data[result].fields;
                            host_port.id = res.data[result].pk;
                            this.host_ports.push(res.data[result].fields)
                        }
                    })
                })
            },
            searchResult: function () {
                this.$nextTick(function () {
                    url = "/report/getResult/?";
                    url += 'searchVersion=' + this.searchVersion;
                    url += '&searchHostPort=' + this.searchHostPort;
                    url += '&execute=' + this.execute;
                    this.$http.get(url).then(function (res) {
                        this.results = [];
                        for (result in res.data) {
                            temp = res.data[result].fields;
                            this.results.push(res.data[result].fields);
                        }
                        this.saveStatus = "获取" + (parseInt(result) + 1) + "个测试用例！";
                        this.rate = app.computeRate(this.results);
                        console.log(this.results)
                    })
                })
            },
            getExecute: function () {
                this.$nextTick(function () {
                    this.$http.get('/action/execute').then(function (res) {
                        this.executes = [];
                        for (execute in res.data) {
                            temp = res.body[execute];
                            this.executes.push(temp);
                        }
                        console.log(this.executes)
                    })
                })
            },
            computeRate: function (data) {
                i=0;
                sum=0;
                for (one in data){
                    if (data[one].test_result) {
                        i++;
                    }
                    sum++;
                }
                return i/sum*100;
            }
        },
    });
    app.initHostPort();
    app.initVersion();
    app.searchResult();
    app.getExecute();
</script>
</html>